BasedOnStyle: LLVM
PointerBindsToType: true
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
